<!-- @@master ../templates/base.html { "lang": "ja", "title": "カクシカ" } -->

<div class="mdl-layout__container">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!-- @@block content -->
    <!-- @@include ../templates/header.html { "title": "カクシカ" } -->
    <main class="mdl-layout__content">
      <section class="section section--content">
        <div class="section__block">
          <img src="images/concept.png" alt="concept" style="width: 80%; margin: 0 auto 30px; padding-top: 70px;">
          <div class="mdl-typography--text-justify">カクシカは複数のコミュニケーションツールを接続し、メッセージの保存・検索・要約・分析を行うシステムです。カクシカの名は日本語の「かくかくしかじか」に由来します。<em>カクシカを使えば、膨大な話の顛末が、すらりと分かる。</em><em>複雑に飛び交う情報を要約し、多忙な人の助けとなる。</em>そんな意味が込められています。</div>
        </div>
      </section>
      <section class="section section--content section--feature mdl-typography--text-center">
        <div class="section__block">
          <div class="mdl-typography--display-1-color-contrast ">Lorem ipsum</div>
          <p class="mdl-typography--text-justify">lorem ipsum</p>
          <div class="selection--separator"></div>
        </div>
      </section>
      <section class="section section--pre-footer mdl-color--light-blue-900 mdl-color-text--light-blue-50">
        <div class="section__block">
          <p>lorem ipsum</p>
        </div>
      </section>
    </main>
    <!-- @@include ../templates/footer.html { "title": "カクシカ" }-->
    <!-- @@close -->
  </div>
</div>
